<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>235450181426-2b3pf9c2tfn684bn9pb6sr3odh1i71ii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.235450181426-2b3pf9c2tfn684bn9pb6sr3odh1i71ii</string>
	<key>API_KEY</key>
	<string>AIzaSyAAeqGDM2qJpnZXP0pROpaS-cyrFYajzqo</string>
	<key>GCM_SENDER_ID</key>
	<string>235450181426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsApp</string>
	<key>PROJECT_ID</key>
	<string>trangquility-87607</string>
	<key>STORAGE_BUCKET</key>
	<string>trangquility-87607.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:235450181426:ios:c06da938106c4ad622992b</string>
</dict>
</plist>