<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39410882610-rq5m3e62lldo68ns69kc247061s12bbl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39410882610-rq5m3e62lldo68ns69kc247061s12bbl</string>
	<key>API_KEY</key>
	<string>AIzaSyB4AKeEZFv0X9WLrUgA46-iA89u0vJsOwI</string>
	<key>GCM_SENDER_ID</key>
	<string>39410882610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsApp</string>
	<key>PROJECT_ID</key>
	<string>newsapp-5b4bd</string>
	<key>STORAGE_BUCKET</key>
	<string>newsapp-5b4bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39410882610:ios:c454dba87d73b83113442b</string>
	<key>DATABASE_URL</key>
	<string>https://newsapp-5b4bd-default-rtdb.firebaseio.com</string>
</dict>
</plist>